ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none; }

.acList {
  height: 570px;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .acList .itemWrap {
    border-bottom: 1px solid #E8E8E8;
    width: 304px;
    margin: 16px 0 0 16px;
    position: relative; }
    .acList .itemWrap .topInfo {
      height: 20px;
      position: relative; }
      .acList .itemWrap .topInfo .img {
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #61dafb;
        width: 20px;
        height: 20px; }
      .acList .itemWrap .topInfo .username {
        position: absolute;
        left: 28px;
        top: 3px;
        height: 15px;
        font-size: 12px;
        color: #67616D; }
      .acList .itemWrap .topInfo .channel {
        position: absolute;
        right: 16px;
        top: 0;
        height: 15px;
        padding: 2px 6px 3px 10px;
        font-size: 12px;
        color: #8560A9;
        border: 1px solid #D3C1E5;
        border-radius: 10px; }
    .acList .itemWrap .titleAndTimeWrap {
      width: 288px;
      margin-top: 10px;
      box-sizing: border-box; }
      .acList .itemWrap .titleAndTimeWrap .wrapLeft {
        display: inline-block;
        width: 216px; }
        .acList .itemWrap .titleAndTimeWrap .wrapLeft .title {
          font-size: 18px;
          color: #453257;
          font-family: Arial;
          font-weight: bold; }
        .acList .itemWrap .titleAndTimeWrap .wrapLeft .time {
          height: 15px;
          margin-top: 8px;
          display: flex;
          align-items: center; }
          .acList .itemWrap .titleAndTimeWrap .wrapLeft .time .clock {
            display: inline-block;
            width: 12px;
            height: 12px; }
          .acList .itemWrap .titleAndTimeWrap .wrapLeft .time .date {
            display: inline-block;
            position: absolute;
            margin-left: 17px;
            font-size: 12px;
            color: #8560A9;
            font-family: Arial; }
      .acList .itemWrap .titleAndTimeWrap .picture {
        display: inline-block;
        float: right;
        width: 64px;
        height: 64px; }
    .acList .itemWrap .detail {
      display: inline-block;
      margin: 12px 16px 12px 0;
      font-size: 14px;
      font-family: "Apple SD Gothic Neo";
      color: #67616D; }
    .acList .itemWrap .operate {
      height: 15px;
      margin-bottom: 18px;
      position: relative; }
      .acList .itemWrap .operate .goLogo {
        position: absolute;
        left: 0;
        bottom: 2.2px;
        width: 12px;
        height: 10px; }
      .acList .itemWrap .operate .going {
        position: absolute;
        left: 17px;
        top: 0;
        font-size: 12px;
        color: #453257; }
      .acList .itemWrap .operate .likeLogo {
        position: absolute;
        left: 104px;
        bottom: 2.2px;
        width: 10px;
        height: 10px; }
      .acList .itemWrap .operate .like {
        position: absolute;
        top: 0;
        left: 120px;
        font-size: 12px;
        color: #453257; }
